body {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
}
/* input, select {
    vertical-align: middle;
} */

input,
button,
select {
  font: inherit;
  /* margin: 0; */
}
/*  */
svg {
  display: block;
  max-width: 100%;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog-book-header {
    margin: auto;
}


input[id="number-pages"],
select[id="reading-option"] {
  /* border-radius: 5px; */
  width: 100%;
}

button,
svg[id="dialog-close"] {
  cursor: pointer;
}
