body {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* font-size: 100%; */
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
  /* margin: 0; */
}
/* input, select {
    vertical-align: middle;
} */

input,
button,
select {
  font: inherit;
  /* margin: 0; */
}
/*  */
svg {
  display: block;
  max-width: 100%;
}

input[id="number-pages"],
select[id="reading-option"] {
  width: 100%;
}
button,
svg[id="dialog-close"] {
  cursor: pointer;
}
