body {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
}
/* input, select {
    vertical-align: middle;
} */

input,
button,
select {
  font: inherit;
  /* margin: 0; */
}
/*  */
svg {
  display: block;
  max-width: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog-book-header {
  margin: auto;
}

input[id="number-pages"],
select[id="reading-option"],
button[id="submit"] {
  /* border-radius: 5px; */
  width: 100%;
}

button,
svg[id="dialog-close"] {
  cursor: pointer;
}




/*  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
}
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
}
dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 65%);
}
@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 /0%);
  }
}
/*  */